<% @party.errors.each do |error| %>
    <ul>
        <li><%= error.full_message %></li>
    </ul>
<% end %>

<div>
    Hi <%= @party %>
</div>

<h1>Create new event:</h1>

<%= form_with model: @party, url: parties_path do |form| %>
    <div>
        <%= form.label :place %>
        <%= form.text_field :place %>
    </div>

    <div>
        <%= form.label :date %>
        <%= form.date_select :date %>
    </div>

    <div>
        <%= form.submit(to: parties_path) %>
    </div>

    <div>
        <%= link_to "Back", root_path %>
    </div>

<% end %>
