<h1>Event Information:</h1>

<div><strong>Place/Site:</strong>  <%= @event.place %></div>
<div> <strong>Date:</strong> <%= @event.date %></div>
<div><strong>Organizer:</strong>
                <% if @event.user_id == current_user.id %>
                    You
                <% else %>
                    <%= User.find(@event.user_id).email %>
                <% end %>
</div>

<%# Assisting to event logic %>


<% if @event.user_id != current_user.id %>
    <% if @event.attendee_ids.include?(current_user.id) %>
        <div><%= link_to "[I'm NO Longer Going]", invitation_path(id: @event.id), data: {
            turbo_method: :delete }%></div>
    <% else %>
        <div><%= button_to "[I'm Assisting]", invitations_path(id: @event.id) %></div>
    <% end %>
<% end %>

<%# Atendees display logic: %>
<h2>Atendees:</h2>

<ul>
    <li>
        <% if @event.attendees.count == 0 %>
            <div>None Confirmed</div>
        <% else %>
            <% @event.attendees.each do |attendee| %>
                <div><%= attendee.email %></div>
            <% end %>
        <% end %>
    </li>
</ul>

<%= link_to "[Back to Profile]", user_path(current_user.id) %>
<%= link_to "[Home Page]", root_path %>
